.main-section {
  .item {
    cursor: pointer;
    .overlay {
      h3 {
        color: $dark;
        font-weight: $fw-600;
        font-size: 2rem;
      }
      p {
        color: $dark-alt;
        font-weight: $fw-500;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &:hover {
      .overlay {
        bottom: 0;
      }
    }
    
    &.area-item {
      background-color: #1d1d1d;
      span {
        color: $yellow;
        opacity: .5;
      }
      &:hover {
        span {
          opacity: 1;
        }
      }
    }
    
    &.ing-item {
      h3 {
        color: $title-color;
      }
      p {
        font-weight: 300;
      }
      span {
        color: $yellow;
        opacity: .5;
      }
      &:hover {
        span {
          opacity: 1;
        }
      }
    }
  }
}
