.meals-section {

  .item {
    cursor: pointer;
    .overlay {
      h3 {
        color: $dark;
        font-weight: $fw-600;
        font-size: 2.5rem;
      }
    }
    &:hover {
      .overlay {
        bottom: 0;
      }
    }
  }
}
