@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

body {
  font-family: "Roboto", sans-serif;

  color: $text-color;

  background-color: $dark;

  span:has(svg) {
    cursor: pointer;
    color: $icon-color;
    font-size: $fs-20;
    transition: $transition;
    &:hover {
      color: $text-color-alt;
    }
  }

  a {
    text-decoration: none;
  }

  .overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: $transition;
    background-color: rgba($color: $light, $alpha: 0.8);
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .section-padding {
    padding: 2rem calc(11rem - 72px) 5rem 11rem;
    @media (max-width: 1199px) {
      padding: 2rem calc(10rem - 72px) 5rem 10rem;
    }
    @media (max-width: 575.98px) {
      padding: 2rem calc(5.25rem - 72px) 5rem 5.25rem;
    }
  }

  h2 {
    color: $title-color;
  }

  .btn {
    transition: $transition;
  }

  h1 {
    font-family: "Bungee Spice", sans-serif;
    font-size: 5rem;
    margin-bottom: 3rem;
    letter-spacing: 0.5rem;
    @media (max-width: 991px) {
      font-size: 4rem;
      letter-spacing: 6px;
    }
    @media (max-width: 767px) {
      font-size: 2.8rem;
      letter-spacing: 0.25rem;
    }
    @media (max-width: 575.98px) {
      font-size: 3rem;
      font-size: 1.7rem;
      letter-spacing: 0px;
    }
  }
}
