$white: #fff;
$black: #000;

$yellow: #FFD100;

$dark: #202020;
$dark-hover: #4d4d4d;

$light: #e9e9e9;

$title-color: #d2d2d2;
$title-color-alt: #bcbcbc;

$text-color: #a6a6a6;
$text-color-alt: #909090;

$icon-color: #797979;

$transition: 0.3s;

$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$fs-24: 1.5rem;
$fs-22: 1.375rem;
$fs-20: 1.25rem;
$fs-18: 1.125rem;
$fs-17: 1.063rem;
$fs-16: 1rem;
$fs-15: 0.938rem;
$fs-14: 0.875rem;
$fs-13: 0.813rem;
